{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>

    <!-- Title -->
	<title>Caramba | Login</title>

	<!-- Meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="author" content="dexignlabs">
	<meta name="robots" content="index, follow">

	<meta name="keywords" content="admin, dashboard, admin dashboard, admin template, template, admin panel, administration, analytics, bootstrap, modern, responsive, creative, retina ready, modern Dashboard responsive dashboard, responsive template, user experience, user interface, Bootstrap Dashboard, Analytics Dashboard, Customizable Admin Panel, EduMin template, ui kit, web app, EduMin, School Management,Dashboard Template, academy, course, courses, e-learning, education, learning, learning management system, lms, school, student, teacher">

	<meta name="description" content="EduMin - Empower your educational institution with the all-in-one Education Admin Dashboard Template. Streamline administrative tasks, manage courses, track student performance, and gain valuable insights with ease. Elevate your education management experience with a modern, responsive, and feature-packed solution. Explore EduMin now for a smarter, more efficient approach to education administration.">

	<meta property="og:title" content="EduMin - Django Education Admin Dashboard Template | dexignlabs">
	<meta property="og:description" content="EduMin - Empower your educational institution with the all-in-one Education Admin Dashboard Template. Streamline administrative tasks, manage courses, track student performance, and gain valuable insights with ease. Elevate your education management experience with a modern, responsive, and feature-packed solution. Explore EduMin now for a smarter, more efficient approach to education administration.">

	<meta property="og:image" content="https://edumin.dexignlab.com/xhtml/error-404.html">

	<meta name="format-detection" content="telephone=no">

	<meta name="twitter:title" content="EduMin - Django Education Admin Dashboard Template | dexignlabs">
	<meta name="twitter:description" content="EduMin - Empower your educational institution with the all-in-one Education Admin Dashboard Template. Streamline administrative tasks, manage courses, track student performance, and gain valuable insights with ease. Elevate your education management experience with a modern, responsive, and feature-packed solution. Explore EduMin now for a smarter, more efficient approach to education administration.">

	<meta name="twitter:image" content="https://edumin.dexignlab.com/xhtml/error-404.html">
	<meta name="twitter:card" content="summary_large_image">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.png">

	<!-- STYLESHEETS -->
	<link href="{% static 'libs/bootstrap-select/dist/css/bootstrap-select.min.css' %}" rel="stylesheet">
    <link class="main-css" rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>
    <div class="fix-wrapper">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5 col-md-6">
                    <div class="card mb-0 h-auto">
                        <div class="card-body">
                            <div class="text-center mb-2">
                                <a href="/">
                                    <img src="{% static 'img/logo1.png' %}" alt="" width="250">
                                </a>
                            </div>
                            <h4 class="text-center mb-4">Inicio de sesión</h4>
                            <form >
                                <div class="form-group">
                                    <label class="form-label" for="username">Usuario</label>
                                    <input type="text" class="form-control" placeholder="username" id="username" name="username">
                                </div>
                                <div class="mb-4 position-relative">
                                    <label class="form-label" for="dlabPassword">Contraseña</label>
                                    <input type="password" id="userpassword" class="form-control" value="" name="password">
                                    <span class="show-pass eye">
                                        <i class="fa fa-eye-slash"></i>
                                        <i class="fa fa-eye"></i>
                                    </span>
                                </div>
                                <div class="form-row d-flex flex-wrap justify-content-between mt-4 mb-2">
                                    <div class="form-group">
                                        <div class="form-check custom-checkbox ms-1">
                                            <input type="checkbox" class="form-check-input" id="basic_checkbox_1">
                                            <label class="form-check-label" for="basic_checkbox_1">Recordar mis credenciales</label>
                                        </div>
                                    </div>
                                    <div class="form-group ms-2">
                                        <a class="btn-link" href="page-forgot-password.html">¿Olvidaste la clave?</a>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <button  id="btn-login" class="btn btn-primary btn-block">Ingresar</button>
                                </div>
                            </form>
                            <div class="new-account mt-3">
                                <p>¿No tienes una cuenta? <a class="text-primary" href="{% url 'registrarme' %}">Registrarme</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script src="{% static 'libs/global/global.min.js' %}"></script>
	<script src="{% static 'libs/bootstrap-select/dist/js/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'js/custom.min.js' %}"></script>
{#    <script src="{% static 'js/dlabnav-init.js' %}"></script>#}
    <script src="{% static 'js/demo.js' %}"></script>
    <script src="{% static 'js/styleSwitcher.js' %}"></script>

    <script >
    $(function() {
        $('#btn-login').click(function() {
            var usuario = $("#username").val();
            var clave = $("#userpassword").val();
            $('#btn-login').attr('disabled', true);
            $.ajax({
                type: "POST",
                url:{% url 'login' %},
                data: {
                    'username': usuario,
                    'password': clave,
                    'pet': 'login',
                    'csrfmiddlewaretoken':"{{ csrf_token }}"
                },

                dataType: 'json',
                cache: false,

                success: function (data) {
                    if (data.error) {
                        alert(data.msj)
                        $('#btn-login').attr('disabled', false);

                    } else {
                        location.href = "/";
                    }
                },
                error: function () {
                    alert('error de conexión con el servidor')
                },

            });
        });
    });
</script>

</body>
</html>